<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.apps.idrak.positiontracker"
    android:permission="android.permission.RECEIVE_BOOT_COMPLETED" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <receiver android:name=".autostart" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".MainActivity"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".GpsService"
            android:icon="@android:drawable/btn_radio"
            android:label="GpsService"
            android:process=":tracking_background"
            android:stopWithTask="false" >
        </service>

        <activity
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:excludeFromRecents="true"
            android:name=".ActivityTurnGps"
            android:label="@string/title_activity_activty_turn_gps" >
        </activity>
        <activity
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:excludeFromRecents="true"
            android:name=".ActivityTurnInternet"
            android:label="@string/title_activity_activity_turn_internet" >
        </activity>
    </application>

</manifest>
